border-style: solid;
border-top: none;
border-left: none;
border-right: none;
border-width: 2px;
background-color:rgb(20, 20, 20);
border-color:rgb(36, 113, 163);
color:white;
font-family:Ubuntu;
font-size:15px;